@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

body
{
  font-family: "Lato", sans-serif;
  background: #eee;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

header {
  margin: 20px 20px 40px 20px;
}

#signature {
  page-break-before: always;
}

h1,h2,h3 {
  margin-left: 20px;
  margin-top: 20px;

  font-weight: bold;
  page-break-after: avoid;
}

li > h3, li > h2
{
  margin: 0 0 10px 0;
}

h1 {
  font-size: 28pt;
}

h2 {
  font-size: 24px;
}

section ol li {
  margin-left: 0px;
}

section.container
{
  margin: 0 auto;
  background: white;
  max-width: 1200px;
  padding: 50px;
  box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
}

ol, dl
{
  counter-reset: item;
  display: table;
  margin-top: 0;
  color: #000;
}

ol {
  padding: 0 0 0 20px;
}

li
{
  display: table-row;
}

ol li:before {
  padding-right: 8px;
}

ol li ol {
  margin: 0 0 5px;
  padding: 0;
  border-spacing: 10px;
}

ol li ol li ol {
  padding-top: 10px 0 0;
  border-spacing: 0;
}

ol li ol li ol li:before {
  padding: 0 8px 5px 0;
}

li:before, dt:before
{
  content: counters(item,".") ". ";
  counter-increment: item;
  font-weight: normal;
  padding: 0 0px 8px 0;
}

li:before
{
  display: table-cell;
  vertical-align: top;
}

dt:before {
  padding: 0 8px 8px 8px;
}

table {
  margin: 0 0 50px 20px;
  width:90%
}

table td {
  padding: 10px 10px 0px 0px;
  border-bottom: 1px solid #000;
}

table tr td:nth-child(1) {
  width: 30%;
  vertical-align: top;
  font-size: 12pt;
}

table tr td:nth-child(2) {
  border-left: 1px solid #000;
  padding-left: 10px;
  width: 70%;
}

p
{
  margin: 0 0 10px 0;
  page-break-inside: avoid;
}

dt
{
  font-weight: bold;
}

dd {
  margin-bottom: 20px;
  padding-left: 8px;
}

dt:after
{
  font-weight: 700;
}

textarea {
  width: 100%;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  resize: none;
  height: 28px;
}

textarea.big {
  height: 112px;
}

@media print {
  @page
  {
      size: auto landscape;   /* auto is the initial value */
      /* this affects the margin in the printer settings */
      margin: 10mm 10mm 10mm 10mm;
  }

  section.container {
    padding: 0;
    box-shadow: none;
    margin: 0;
  }

  body {
    background: #fff;
    font-size: 12pt;
    line-height: 22px;
  }

  h1 {
    margin-top: 1cm;
    font-size: 20pt;
  }

  h2 {
    font-size: 18pt;
  }

  table tr td:nth-child(1) {
    font-size: 12pt;
  }

  textarea {
    font-size: 12pt;
  }
}
